.Gallery {
    min-width: 100%;
    min-height: 100%;
}

.GalleryRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 4px;
}

.Gallery.Mobile.Vertical {

}

.Gallery.Mobile.Horizontal {
    white-space: nowrap;
}
